<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Rough-Understanding-of-HK-Open-Data" data-toc-modified-id="Rough-Understanding-of-HK-Open-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Rough Understanding of HK Open Data</a></span><ul class="toc-item"><li><span><a href="#The-Full-List" data-toc-modified-id="The-Full-List-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>The Full List</a></span></li><li><span><a href="#Summarized-by-Data-Provider-and-Data-Category" data-toc-modified-id="Summarized-by-Data-Provider-and-Data-Category-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Summarized by Data Provider and Data Category</a></span><ul class="toc-item"><li><span><a href="#By-Data-Provider" data-toc-modified-id="By-Data-Provider-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>By Data Provider</a></span></li><li><span><a href="#By-Data-Category" data-toc-modified-id="By-Data-Category-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>By Data Category</a></span></li><li><span><a href="#By-Category-+-Provider" data-toc-modified-id="By-Category-+-Provider-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>By Category + Provider</a></span></li></ul></li><li><span><a href="#Task-Allocation-by-Category" data-toc-modified-id="Task-Allocation-by-Category-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Task Allocation by Category</a></span><ul class="toc-item"><li><span><a href="#health-(#1000)" data-toc-modified-id="health-(#1000)-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>health (#1000)</a></span></li><li><span><a href="#environment-(#1726)" data-toc-modified-id="environment-(#1726)-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>environment (#1726)</a></span></li><li><span><a href="#finance-(#1736)" data-toc-modified-id="finance-(#1736)-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>finance (#1736)</a></span></li><li><span><a href="#climate-and-weather-(#375)" data-toc-modified-id="climate-and-weather-(#375)-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>climate and weather (#375)</a></span></li><li><span><a href="#employment-and-labour-(#363)" data-toc-modified-id="employment-and-labour-(#363)-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>employment and labour (#363)</a></span></li></ul></li></ul></li></ul></div>

# Rough Understanding of HK Open Data

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## The Full List

In [2]:
load(file = "../combined_table/combined_table.rda") # already upload to database: `external.hk_opendata_list`

In [24]:
# totally 19,520 data sets

In [21]:
nrow(combined_table)

[1] 19520

In [25]:
# the example of the full list

In [19]:
head(combined_table,3)

  collection_name
1 1823 Service Requests and Performance Data
2 Accessible facilities in Hong Kong
3 Accessible facilities in Hong Kong
  collection_description
1 1823 of the Efficiency Office provides a round-the-clock one-stop service to answer enquiries for 23 departments and to receive complaints about any area of Government services. Data related to the business volume and performance of the operation will...
2 A list of accessible facilities at local attractions, hotels, shopping / dining locations and other venues\nThis dataset is the result of an extensive study on the accessibility of tourists' facilities in Hong Kong focusing on accommodation, dining...
3 A list of accessible facilities at local attractions, hotels, shopping / dining locations and other venues\nThis dataset is the result of an extensive study on the accessibility of tourists' facilities in Hong Kong focusing on accommodation, dining...
  dataset_name                               data_category
1 1823 Service Requests and Performance Data city_management
2 Attractions                                city_management
3 Shopping and dining                        city_management
  data_provider                            data_format update_freq
1 Efficiency Office                        JSON        Monthly
2 The Hong Kong Society for Rehabilitation XML         As and when necessary
3 The Hong Kong Society for Rehabilitation XML         As and when necessary
  has_api
1 0
2 0
3 0

## Summarized by Data Provider and Data Category

### By Data Provider

In [31]:
a <- combined_table %>% 
    group_by(data_provider) %>% 
    summarise(cnt_by_provider = n()) %>% 
    arrange(desc(cnt_by_provider))

In [32]:
head(a,5)

  data_provider                       cnt_by_provider
1 Census and Statistics Department    6256
2 Transport Department                1810
3 Buildings Department                1687
4 Environmental Protection Department  907
5 Insurance Authority                  900

### By Data Category

In [34]:
b <- combined_table %>% 
    group_by(data_category) %>% 
    summarise(cnt_by_category = n()) %>%
    arrange(desc(cnt_by_category))

In [35]:
b

   data_category                           cnt_by_category
1  population                              4902
2  development                             2539
3  transport                               2126
4  finance                                 1736
5  environment                             1726
6  commerce_and_industry                   1017
7  health                                  1000
8  miscellaneous                            947
9  housing                                  876
10 law_and_security                         511
11 education                                485
12 climate_and_weather                      375
13 employment_and_labour                    363
14 information_technology_and_broadcasting  341
15 city_management                          281
16 recreation_and_culture                   183
17 social_welfare                            84
18 food                                      28

### By Category + Provider

In [37]:
c <- combined_table %>% group_by(data_provider, data_category) %>% summarise(cnt_by_prov_cate = n())

In [41]:
d <- c %>% 
    left_join(a, by = "data_provider") %>% 
    left_join(b, by = "data_category") %>% 
    arrange(desc(cnt_by_prov_cate))

In [42]:
head(d,20)

   data_provider                                 data_category
1  Census and Statistics Department              population
2  Transport Department                          transport
3  Buildings Department                          development
4  Environmental Protection Department           environment
5  Insurance Authority                           finance
6  Department of Health                          health
7  Electrical and Mechanical Services Department environment
8  Land Registry                                 housing
9  Census and Statistics Department              commerce_and_industry
10 Registration and Electoral Office             miscellaneous
11 Planning Department                           development
12 Lands Department                              development
13 Hong Kong Observatory                         climate_and_weather
14 Census and Statistics Department              finance
15 Education Bureau                              education
16 Census and Statistics Department              employment_and_labour
17 Companies Registry                            finance
18 Water Supplies Department                     city_management
19 Security Bureau                               law_and_security
20 Hospital Authority                            health
   cnt_by_prov_cate cnt_by_provider cnt_by_category
1  4876             6256            4902
2  1810             1810            2126
3  1687             1687            2539
4   907              907            1726
5   900              900            1736
6   764              764            1000
7   702              793            1726
8   678              678             876
9   636             6256            1017
10  482              482             947
11  424              542            2539
12  373              411            2539
13  372              372             375
14  272             6256            1736
15  242              242             485
16  230             6256             363
17  209              209            1736
18  192              196             281
19  166              166             511
20  156              156            1000

## Task Allocation by Category

### health (#1000)

In [44]:
d %>% filter(data_category == "health")

  data_provider                             data_category cnt_by_prov_cate
1 Department of Health                      health        764
2 Hospital Authority                        health        156
3 Food and Health Bureau                    health         62
4 Census and Statistics Department          health         15
5 Food and Environmental Hygiene Department health          3
  cnt_by_provider cnt_by_category
1  764            1000
2  156            1000
3   62            1000
4 6256            1000
5   37            1000

### environment (#1726)

In [45]:
d %>% filter(data_category == "environment")

   data_provider                                      data_category
1  Environmental Protection Department                environment
2  Electrical and Mechanical Services Department      environment
3  Drainage Services Department                       environment
4  Civil Engineering and Development Department       environment
5  Census and Statistics Department                   environment
6  Food and Environmental Hygiene Department          environment
7  Office of the Government Chief Information Officer environment
8  Development Bureau                                 environment
9  Agriculture, Fisheries and Conservation Department environment
10 Planning Department                                environment
11 The Hong Kong and China Gas Company Limited        environment
   cnt_by_prov_cate cnt_by_provider cnt_by_category
1  907               907            1726
2  702               793            1726
3   48                66            1726
4   24                25            1726
5   12              6256            1726
6   12                37            1726
7    9               158            1726
8    5                25            1726
9    3                22            1726
10   3               542            1726
11   1                 1            1726

### finance (#1736)

In [46]:
d %>% filter(data_category == "finance")

   data_provider                              data_category cnt_by_prov_cate
1  Insurance Authority                        finance       900
2  Census and Statistics Department           finance       272
3  Companies Registry                         finance       209
4  Treasury                                   finance       135
5  Hong Kong Monetary Authority               finance       128
6  Financial Services and the Treasury Bureau finance        54
7  Inland Revenue Department                  finance        19
8  Customs and Excise Department              finance        12
9  Official Receiver's Office                 finance         4
10 Drainage Services Department               finance         3
   cnt_by_provider cnt_by_category
1   900            1736
2  6256            1736
3   209            1736
4   180            1736
5   128            1736
6    54            1736
7    19            1736
8    53            1736
9     8            1736
10   66            1736

### climate and weather (#375)

In [47]:
d %>% filter(data_category == "climate_and_weather")

  data_provider                                      data_category
1 Hong Kong Observatory                              climate_and_weather
2 Office of the Government Chief Information Officer climate_and_weather
  cnt_by_prov_cate cnt_by_provider cnt_by_category
1 372              372             375
2   3              158             375

### employment and labour (#363)

In [48]:
d %>% filter(data_category == "employment_and_labour")

  data_provider
1 Census and Statistics Department
2 Labour Department
3 Joint Secretariat for the Advisory Bodies on Civil Service and Judicial Salaries and Conditions of Service
4 Office of the Government Chief Information Officer
5 Efficiency Office
  data_category         cnt_by_prov_cate cnt_by_provider cnt_by_category
1 employment_and_labour 230              6256            363
2 employment_and_labour 102               102            363
3 employment_and_labour  24                24            363
4 employment_and_labour   6               158            363
5 employment_and_labour   1                 7            363